@model IEnumerable<WebArtSampler.Models.SampleType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SampleType1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SampleType1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SampleTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SampleTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SampleTypeID })
        </td>
    </tr>
}

</table>
