@model IEnumerable<WebArtSampler.Models.PatterRefMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PatterRefNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PatterRefNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PatternRefID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PatternRefID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PatternRefID })
        </td>
    </tr>
}

</table>
