@model IEnumerable<WebArtSampler.Models.SamplingFabricMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fabric)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISDeleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fabric)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISDeleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FabricID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FabricID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FabricID })
        </td>
    </tr>
}

</table>
