@model WebArtSampler.Models.SampCutReqMaster

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SampCutReqMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReqNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReqNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fabric)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fabric)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SampleRequiredDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SampleRequiredDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyerMaster.BuyerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyerMaster.BuyerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatternStyle.StyleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatternStyle.StyleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatterRefMaster.PatterRefNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatterRefMaster.PatterRefNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SampleType.SampleType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SampleType.SampleType1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SampCutreqID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
